@import '../variables.scss';

.tab-container {
    display: flex;
    padding: 0 5% 0 5%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
    & p {
        font-size: 0.95rem;
    }
    
}

.time-picker-btn{
    display: flex;
    align-items: center;
    border: none;
    background-color: white;

    & p {
        font-weight: 600;
        padding: 0 0.6rem 0 0.6rem;
    }

    & svg {
        height: 1rem;
        width: auto;
        margin: 0;
        stroke: $grey-color;
        transform: rotate(-90deg);
    }
}