@import '../variables.scss';

.settings-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: white;
    
}

.spacing-div{
    padding-top: 3rem;
}
.spacing-div-sections{
    padding-top: 4rem;
}

.settings-section-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: white;
}

.top-bar-left-center {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 3rem;
    padding-top: 0.8rem ;
    background-color: white;
    z-index: 1;

    & h1 {
        font-size: 1.2rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    & h2 {
        font-size: 1.1rem;
        font-weight: 400;
        margin-right: 0.8rem;
    }

    & svg {
        height: 2rem;
        fill: $black-color;
        margin-left: 0.8rem;
    }
}

.settings-group-container{
    padding: 0 5% 0 5%;
    margin-top: 1.6rem;

    & hr {
        margin: 0.6rem 0 0.6rem 0;
    }
}

.settings-group-container-banner{
    display: flex;
    align-items: center;
    font-size: 0.65rem;

    & h2 {
        font-weight: 700;
        margin-left: 0.2rem;
    }

    & svg{
        height: 1.8rem;
        fill: $black-color;
    }
}

.settings-item-container{
    list-style-type: none;
    margin: 0;
    padding: 0;

    & li {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 0.9rem;
        padding: 0.6rem 0 0.6rem;
        
        & svg {
            height: 1.2rem;
            width: auto;
            margin: 0;
            stroke: $grey-color;
            transform: rotate(-90deg);
        }
    }
}

.arrow-and-text{
    display: flex;
    align-items: center;

    & p {
        font-weight: 500;
        margin-right: 0.2rem;
    }
}