@import '../variables.scss';

.handler-container-back{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 7;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    color: $black-color;
}

.handler-container{

    position: absolute;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    z-index: 8;

    width: 100%;
    height: 95%;
    background-color: white;
    bottom: 0;
    border-radius: 12px 12px 0px 0px;

    --animate-duration: 0.4s;

    & hr {
        width: 100%;        
    }


}
.handler-container-close{

    position: absolute;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    z-index: 8;

    width: 100%;
    height: 95%;
    background-color: white;
    bottom: 0;
    border-radius: 12px 12px 0px 0px;

    --animate-duration: 0.5s;

    opacity: 0;
    transition: visibility 10s, opacity 20s ease-out ;
    transition-duration: 0.25s;

    & hr {
        width: 100%;        
    }
}

.handler-top-bar{

    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.6rem;

    & h1 {
        color: $black-color;
        display: flex;
        align-items: center;
        font-weight: 500;

    }
    & p {
        color: $grey-color;
        font-weight: 500;
        font-size: 1rem;
        margin-left: 5px;

    }
    & svg {
        height: 1.8rem;
    }
   
}
.handler-close{
    margin-left: 1rem;
    position: absolute;
    left:0;
}
.handler-add-order{
    margin-right: 1rem;
    position: absolute;
    right:0;
    & svg{
        margin-left: 0.6rem;
    }
}
.handler-item-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.handler-item{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    height: 2.8rem;

    & h2 {
        margin-left: 0.8rem;
        margin-right: 0.4rem;
    }    
}

.handler-check-name{

    display: flex;
    align-items: center;

    & svg {
        margin-left: 0.8rem;
        width: 1.6rem;
        fill: $accent-blue;
    }
}

.handler-entries-menu{

    display: flex;
    align-items: center;

    & svg {
        fill: $black-color;
        width: 1.6rem;
        transform: rotate(90deg);
        padding: 0.4rem;
    }
}