@import '../variables.scss';

.modal-container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    color: $black-color;
}
.modal-card{

    position: absolute;
    
    z-index: 4;
    height: 30rem;
    width: 80%;
    background-color: white;
    bottom: 0;
    margin-bottom: 3.1rem;
    border-radius: 12px;
    overflow-y: auto;

    
}
.arrow-1{

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;

    width: 100%;
    height: 10%;

    background-color: white;

    & svg{
        height: 1.8rem;
        stroke: $grey-color;
        transform: rotate(180deg);
    }
}
.arrow-2{

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    bottom: 0;

    width: 100%;
    height: 10%;

    background-color: white;


    & svg{
        height: 1.8rem;
        stroke: $grey-color;
    }
}
.card-picker-content-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.month-picker{
    width: 100%;
    height: 28rem;
    overflow-y: auto;
}

.year{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1{
        margin: 1.2rem 0;
    }
}

.side-handlers{
    width: 7.5%;
    height: 30rem;    
    opacity: 0;
}

.month-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 5rem;
    width: 98%;
    justify-items: center;
    
   
}
.month-picker-selector{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 5px;

}

.month-picker-name{

    margin-right: 3px;
    font-size: 0.8rem;
}

.month-picker-entries{
    margin-left: 3px;
    color: $grey-color;
}

