@import '../variables.scss';

.input-modal-container{

    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    z-index: 10;
    
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.3,1.3);
    }
    100% {
        transform: scale(1,1);
    }
}

.input-modal{
    position: absolute;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    animation: zoominoutsinglefeatured 0.3s ;

    top: 20%;
    margin: 0 10% 0 10%;
    
    h1 {
        width: 75%;
        margin-top: 1rem;
    } 
    p {
        width: 80%;
        font-size: 0.9rem;
        margin-top: 0.2rem;
    }
}

.input-modal-buttons{
    width: 100%;
    margin-top: 1rem;
    button{
        width: 50%;
        background-color: inherit;
        font-weight: 600;
        height: 2.6rem;
        font-size: 1rem;
        margin: 0px;
    }
}
.input-modal-left-button{

    border-radius: 0px 0px 0px 12px;
    border-style: solid;
    border-width: 2px 1px 0px 0px;
    border-color: $grey-color;
    color: $red-color;
}
.input-modal-right-button{

    border-radius: 0px 0px 12px 0px;
    border-style: solid;
    border-width: 2px 0px 0px 1px;
    border-color: $grey-color;
    color:$accent-blue;
}

.input-modal-input{

    width: 70%;
    border: solid $grey-color 1px;
    border-radius: 6px;
    height: 1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #575757;
    padding-left: 0.5rem;

    &:focus{
        outline:none;
        color: $black-color;
    }
}