@import '../variables.scss';

.profile-screen-container {
    height: 100vh;
    width: 100%;
    padding-top: 4rem;
    overflow-y: auto;
    background-color: $back-color;
}

.profile-overflow-y{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
    margin-bottom: 13rem;
}

.profile-container {
    position: relative;
    height: 10rem;
    width: 90%;
    border-radius: 10px;
}
.profile-picture-container{
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 1;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $grey-color;

    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
        height: 75%;
        fill: white;
    }
}
.profile-data-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    background-color: white;
    border-radius: inherit; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.1));

    & svg {
        position: absolute;
        top:0;
        right: 0;
        fill: $darker-grey;
        height: 0.8rem;
        padding: 1rem;
    }
    & h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
    }
    & h3  {
        position: absolute;
        color: $darker-grey;
        font-weight: 500;
        white-space: pre-line;
        text-align: center;
        top: 77%;
        left: 50%;
        transform: translate(-50%, -50%);  
    }
}

@mixin profile-all-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 90%;
    border-radius: 10px;
    filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.1));
}

.profile-all-diaries-container{
    
    @include profile-all-container();

    height: 5rem;

    & h2 {
        font-size: 1.4rem;
        color: black;
        margin-bottom: 0.4rem;
    }
    & h4 {
        color: $darker-grey;
        font-weight: 500;
        font-size: 0.7rem;

    }
}

.profile-all-topbar{
    display: flex;
    align-items: center;
    width: 100%; 
    height: 2.6rem;
    justify-content: space-between;

    & .number-arrow-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
    }

    & h3 {
        font-size: 0.9rem;
        margin-left: 1.2rem;
        color: #585858; 
        white-space: pre-line;
    }
    & h4 {
        font-size: 0.9rem;
        color: $black-color;
    }

    & svg {
        width: 0.9rem;
        transform: rotate(-90deg);
        stroke: $darker-grey;
    }
}

.profile-all-photos-container {

    @include profile-all-container();
}

.profile-all-photos {
    display: flex;
    height: 10rem;
    width: 100%;
    

    & .profile-all-photos-first {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100%;
        border-bottom-left-radius: 10px;
    }

    & .profile-all-photos-latter {
        
        width: 50%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    & .profile-all-small-photo {
        width: 50%;
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.profile-all-tags-container {
    @include profile-all-container();

    .profile-tag-badge-container{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        padding: 2.4rem 0 2.4rem 0;
        margin: 0rem 10% 0rem 10%;
        border-top: 1px solid #e7e7e7;
        column-gap: 0.5rem;
        row-gap: 0.6rem;
    }

    .tag-name-number{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $grey-color;
        column-gap: 0.4rem;
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        border-radius: 100rem;

        & svg {
            fill: $darker-grey;
            height: 1rem;
        }
        & h5 {
            font-size: 0.7rem;
            font-weight: 500;
        }
        & p {
            color: $darker-grey
        }
    }
}
.profile-all-locations-container {
    @include profile-all-container();

    & .all-location-map{
        width: 100%;
        height: 12rem;
        border-radius: 0 0 10px 10px;
    }
}
.profile-all-weather-container {

    @include profile-all-container();

    & .profile-all-weather-topbar{
        display: flex;
        align-items: center;
        width: 100%; 
        height: 2.6rem;
        padding-bottom: 0.6rem;
        
        & h3 {
            font-size: 0.9rem;
            margin-left: 1.2rem;
            color: #585858; 
        }
    }

    & .profile-all-weather-count {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 8rem;
    }

    & .profile-all-weather {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 94%;
        padding-bottom: 1rem;
        color: $grey-color;
    }

    & .weather-count-bar {
        background-color:  #c0bdbd;
        width: 0.3rem;
        border-radius: 10rem;
        margin: 0.2rem 0 0.2rem 0;
    }

    
}