@import '../variables.scss';



.detail-card-container{

    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    z-index: 2;
    background-color: $back-color;
    overflow-y: auto;
    
}
.d-c-topbar{
    width: 100%;
    position: fixed;
    top: 0;
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    z-index: 3;
}
.d-c-topbar-layout{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.4rem;

   
    font-size: 1.15rem;
    font-weight: 500;
    

    & svg{
        height: 2.1rem;
        fill: $darker-grey;
    }
}

.entrie-tabs-container{
    
    width: 100%;
    padding-top: 4.9rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.no-diaries-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-diaries{
    color: $darker-grey;
    letter-spacing: 0.5px;
}


