@import '../variables.scss';

.card-screen-container{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}
.month-selector{
  display: flex;
  align-items: center;

  & svg{
    height: 1.5rem;
    margin-left: 0.2rem;
  }
}
.swiper-container {
  width: 100%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  width: 62%;
  height: 80%;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 15px rgba(143, 143, 143, 0.25));  
  top: 10%;

}
.calendar-btn{
    
    display: flex;
    align-items: center;

    background-color: $back-color;
    border-radius: 100rem;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1.6rem;
    padding-left: 1.6rem;

    border: 1px solid $grey-color;

    font-size: 0.6rem;
    color: #8d8d8d;
}

.beginning-arrow{
  position: absolute;
  transform: rotate(90deg);
  stroke: $grey-color;
  margin-right: 90%;
  height: 2rem;
  z-index: 1;
  
}
.end-arrow{
  position: absolute;
  transform: rotate(-90deg);
  stroke: $grey-color;
  margin-left: 90%;
  height: 2rem;
  z-index: 1;
}
