@import '../variables.scss';

.entry-img-gallery-container {
    width: 100%;
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 2;
    position: relative;
    
    & svg {
        
        fill: $back-color;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1;
        height: 2rem;
        width: 2rem;
        padding: 1rem 1.4rem;
    }
}
.close-download-icon-container{
    position: absolute;
    top: 0;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    z-index: 10;
}

.entry-img-gallery-swiper-container{
    height: 100%;
}

.entry-img-gallery-swiper-slide{
    width: 100%;
    height: 100%;
    top: auto;
    border-radius: 0px;
    filter: none; 
 }

.entry-img-gallery-swiper-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.entry-img-gallery-placeholder{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.ce-swiper-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}  