@import '../variables.scss';

.entry-swiper-container{
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 3;

    display: flex;
    flex-direction: column;

    overflow-y: hidden;
    
  
}

.entry-swiper{
    height: 100%;
}

.entry-swiper-slide{
    height: 100vh;
    width: 100vw;
    border-radius: 0px;
    filter: drop-shadow(0px 4px 15px rgba(143, 143, 143, 0));  
    top: auto;
    overflow-y: auto;
}

.entry-swiper-bottom-bar{
    
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    border-top: 1px solid $grey-color;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 1;

    & svg {
        height: 2.2rem;
        fill: $black-color;
        margin: 1rem;
        margin-top: 0.6rem;
    }
}

